[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pymongo = "*"
"pdfminer.six" = "*"
pymupdf = "==1.19.6"
bottle = "==0.12.19"
opencv-python = "==4.5.4.60"
easyocr = "==1.4.1"


[dev-packages]

[requires]
python_version = "3.9"
