[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.28.1"
pymongo[tls,srv] = "==4.1.1"
"pdfminer.six" = "==20220524"
pymupdf = "==1.19.6"
bottle = "==0.12.19"
opencv-python = "==4.5.4.60"
easyocr = "==1.4.1"


[dev-packages]

[requires]
python_version = "3.9"
